@media screen and (prefers-color-scheme: dark) {
  main img.invert {
    filter: invert() hue-rotate(180deg);
  }
}

main {
  display: contents;

  & > * {
    grid-column: 2 / 3;
    max-width: 100%;
  }

  & > p:has(:not(.bleeding)) > img {
    max-width: 100%;
  }

  & > p:has(.bleeding) {
    grid-column: 1 / 4;
    text-align: center;
  }

  & > p:has(.bleeding.ppi) {
    width: 100%;
    height: min-content;
    overflow-x: scroll;
    box-sizing: border-box;

    & > .bleeding.ppi {
      width: max-content;
    }
  }

  & p:has(.bleeding:not(.ppi)) {
    width: auto;
    max-width: 100%;

    & > .bleeding {
      width: auto;
      max-width: 100%;
    }
  }

  & .card {
    border-radius: 8px;
  }

  a {
    word-wrap: anywhere;
  }

  .radio-group {
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1px;

    max-width: 100%;
    overflow: hidden;

    border: 1px solid light-dark(#eee, #333);
    border-radius: 6px;
    padding: 2px;

    & > div {
      overflow: hidden;
      flex-shrink: 2;

      & > input {
        display: none;
      }

      & > label {
        cursor: pointer;
        display: block;
        padding: 10px clamp(0px, 3vw, 20px) 8px;
        text-wrap: nowrap;
        border-radius: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &:has(input:checked) > label {
        color: light-dark(#000, #fff);
        background-color: light-dark(#eee, #333);
      }
    }
  }
}
