{{define "favicons"}}
<link rel="icon" type="image/png" sizes="16x16" href="/.assets/favicon@16w.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="32x32" href="/.assets/favicon@32w.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="48x48" href="/.assets/favicon@48w.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="64x64" href="/.assets/favicon@64w.png" media="(prefers-color-scheme: light)">

<link rel="apple-touch-icon" sizes="120x120" href="/.assets/touch-icon@120w.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="152x152" href="/.assets/touch-icon@152w.png" media="(prefers-color-scheme: light)">
<link rel="apple-touch-icon" sizes="180x180" href="/.assets/touch-icon@180w.png" media="(prefers-color-scheme: light)">

<link rel="icon" type="image/png" sizes="192x192" href="/.assets/touch-icon@192w.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="512x512" href="/.assets/touch-icon@512w.png" media="(prefers-color-scheme: light)">

<link rel="icon" type="image/png" sizes="16x16" href="/.assets/favicon-dark@16w.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="32x32" href="/.assets/favicon-dark@32w.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="48x48" href="/.assets/favicon-dark@48w.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="64x64" href="/.assets/favicon-dark@64w.png" media="(prefers-color-scheme: dark)">

<link rel="apple-touch-icon" sizes="120x120" href="/.assets/touch-icon-dark@120w.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="152x152" href="/.assets/touch-icon-dark@152w.png" media="(prefers-color-scheme: dark)">
<link rel="apple-touch-icon" sizes="180x180" href="/.assets/touch-icon-dark@180w.png" media="(prefers-color-scheme: dark)">

<link rel="icon" type="image/png" sizes="192x192" href="/.assets/touch-icon-dark@192w.png" media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="512x512" href="/.assets/touch-icon-dark@512w.png" media="(prefers-color-scheme: dark)">
{{end}}