{{define "social-cards"}}
<meta property="og:type" content="website">
<meta property="og:url" content="https://ufukty.com">
<meta property="og:title" content="Things & Thoughts from Ufuktan Yıldırım">
<meta property="og:image" content="https://ufukty.com/.assets/card-og.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://ufukty.com">
<meta name="twitter:title" content="Things & Thoughts from Ufuktan Yıldırım">
<meta name="twitter:image" content="https://ufukty.com/.assets/card-twitter.png">
{{end}}