:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html {
  color: light-dark(#444, #ddd);
  background-color: light-dark(#fff, #000);

  font-family: Arial;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

body {
  width: 100%;
  padding: 0 0 200px;
  margin: 0;

  display: grid;
  grid-template-columns: minmax(calc(1em + 1vw), 1fr) minmax(auto, 700px) minmax(calc(1em + 1vw), 1fr);
}

main {
  display: contents;

  & > * {
    grid-column: 2 / 3;
  }
}

ul,
ol {
  padding-inline-start: 20px;
}

li {
  line-height: 2em;
}

img {
  width: 100%;
  border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: light-dark(#000, #eee);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

p {
  line-height: 2em;
}

a {
  text-decoration: none;
}

nav {
  padding: calc(2em + 2vw) 0;
  margin: -10px -10px;
  width: min(100%, 700px);
  grid-column: 2 / 3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 10px;

  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 10px;

    margin: 0;
    padding: 0;

    & > li {
      list-style: none;

      & > a {
        display: block;
        padding: 10px;
      }
    }
  }

  #home-button {
    display: block;
    padding: 10px;

    & > img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      display: block;
    }
  }
}

pre {
  max-width: 100%;
  text-wrap: wrap;
}
