:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html {
  color: light-dark(#444, #ddd);
  background-color: light-dark(#fff, #000);

  font-family: Arial;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

body {
  width: 100%;
  padding: 0 0 200px;
  margin: 0;

  display: grid;
  grid-template-columns: minmax(calc(1em + 1vw), 1fr) minmax(auto, 700px) minmax(calc(1em + 1vw), 1fr);
}

ul,
ol {
  padding-inline-start: 20px;
}

li {
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: light-dark(#000, #eee);
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

p {
  line-height: 2em;
}

a {
  text-decoration: none;
}

nav {
  padding: calc(2em + 2vw) 0;
  margin: -10px -10px;
  width: min(100%, 700px);
  grid-column: 2 / 3;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 10px;

  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 10px;

    margin: 0;
    padding: 0;

    & > li {
      list-style: none;

      & > a {
        display: block;
        padding: 10px;
      }
    }
  }

  #home-button {
    display: block;
    padding: 10px;

    & > img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      display: block;
    }
  }
}

pre.chroma {
  width: 100vw;
  grid-column: 1 / 4;
  text-wrap: wrap;
  overflow: scroll;
  padding-left: max(calc((100vw - min(calc(700px - 2 * (1vw + 1em)), 100%) - 2 * (1vw + 1em)) / 2), (1vw + 1em));
  scrollbar-width: none;

  & > code {
    width: max-content;
    display: block;
    padding-right: max(calc((100vw - min(calc(700px - 2 * (1vw + 1em)), 100%) - 2 * (1vw + 1em)) / 2), (1vw + 1em));
  }

  user-select: initial;
  -webkit-user-select: initial;

  font-optical-sizing: auto;
  line-height: 1.24;
  font-size: 11pt;

  counter-reset: line;

  color: light-dark(#444, #aaa);

  * {
    font-family: "Fira Code", monospace !important;
    font-weight: 400;
  }

  .nx {
    color: light-dark(#444, #aaa);
  }

  .s,
  .s1,
  .s2,
  .o,
  .nv,
  .kc {
    color: light-dark(#0550ae, #527aac);
  }

  .m,
  .kt {
    color: light-dark(#008775, #56908c);
  }

  .k,
  .kn,
  .kd {
    color: light-dark(#cf222e, #c96168);
  }

  .kr,
  .nf,
  .nt {
    color: light-dark(#8250df, #a286d6);
  }

  .nb {
    color: light-dark(#c44886, #db7eac);
  }

  .cm,
  .cp {
    color: light-dark(#6e7781, #78a7dd);
  }

  .c1 {
    color: light-dark(#6e7781, #7f858c);
  }
}
