html {
  position: relative;
}

@media screen and (width<1000px) {
  #toc {
    display: none;
  }
}

#toc {
  grid-column: 3 / 4;
  grid-row: 4;

  position: fixed;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: calc(1em + 1vw);

  margin: 0 auto;
  grid-row: 3;
  padding: 16px;
  line-height: 2em;

  font-size: 0.9rem;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;

    & > li {
      position: relative;
      width: max-content;

      & > a {
        padding: 2px 0;
        transition: 120ms 60ms opacity ease-out;
        position: relative;
        z-index: 1;
        transition: 120ms all ease-out;
      }

      & > .skeleton {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        max-width: 100%;
        max-height: 100%;
        z-index: 0;
        background-color: light-dark(#ccc, #333);
        opacity: 0;
        transition: 120ms all ease-out;
      }
    }
  }

  &:not(:hover) {
    & > ul {
      max-width: 20px;
      overflow: hidden;

      & > li {
        & > a {
          opacity: 0;
          filter: blur(5px);
        }

        & > .skeleton {
          min-width: 20px;
          max-width: 20px;
          max-height: 5px;
          opacity: 1;
        }
      }
    }
  }

  & > .shade {
    position: absolute;
    top: -10%;
    left: 0;
    width: 120%;
    height: 120%;
    background-color: light-dark(#fff, #000);
    filter: blur(50px);
    z-index: 0;
    transition: 120ms all ease-out;
    opacity: 0.5;
  }

  &:not(:hover) > .shade {
    opacity: 0;
  }
}
