{{define "title"}}Thoughts{{end}}

{{define "page-content"}}

<h1>Thoughts</h1>

{{with .Node.Children}}
<ul>
  {{range .}}<li>{{if ne .Href ""}}<a href="{{.Href}}">{{.Title}}</a>{{else}}<span>{{.Title}}</span>{{end}}</li>{{end}}
</ul>
{{end}}

{{end}}