@media screen and (prefers-color-scheme: dark) {
  main img {
    filter: invert() hue-rotate(180deg);
  }
}

main {
  display: contents;

  img {
    width: auto;
    border-radius: 0;
  }

  & > p:has(img) {
    width: 100%;
    height: min-content;
    grid-column: 1 / 4;
    text-align: center;
    overflow-x: scroll;
    padding: 20px;
    box-sizing: border-box;

    & > img:not(.actual-size) {
      max-width: 100%;
    }
  }

  a {
    word-wrap: anywhere;
  }

  .radio-group {
    display: flex;
    width: min-content;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    gap: 1px;

    border: 1px solid light-dark(#eee, #333);
    border-radius: 4px;

    & > div {
      & > input {
        display: none;
      }

      & > label {
        cursor: pointer;
        display: block;
        padding: 10px 20px 8px;
        text-wrap: nowrap;
      }

      &:has(input:checked) > label {
        color: light-dark(#000, #fff);
      }
    }
  }
}

.radio-group:has(div > input#radio-deals-seed:not(:checked)) ~ p > .only-deals-seed,
.radio-group:has(div > input#radio-deals-early:not(:checked)) ~ p > .only-deals-early,
.radio-group:has(div > input#radio-deals-late:not(:checked)) ~ p > .only-deals-late,
.radio-group:has(div > input#radio-deals-acq:not(:checked)) ~ p > .only-deals-acq {
  display: none;
}

.radio-group:has(div > input#radio-stakes-by-years:not(:checked)) ~ p > .only-stakes-by-years,
.radio-group:has(div > input#radio-stakes-by-stages:not(:checked)) ~ p > .only-stakes-by-stages {
  display: none;
}

.radio-group:has(div > input#radio-deal-grid-acquisitions:not(:checked)) ~ p > .only-deal-grid-acquisitions,
.radio-group:has(div > input#radio-deal-grid-all:not(:checked)) ~ p > .only-deal-grid-all,
.radio-group:has(div > input#radio-deal-grid-early:not(:checked)) ~ p > .only-deal-grid-early,
.radio-group:has(div > input#radio-deal-grid-late:not(:checked)) ~ p > .only-deal-grid-late,
.radio-group:has(div > input#radio-deal-grid-seed:not(:checked)) ~ p > .only-deal-grid-seed {
  display: none;
}

html {
  position: relative;
}

@media screen and (width<1500px) {
  #toc {
    display: none;
  }
}

#toc {
  grid-column: 3 / 4;
  grid-row: 4;

  position: fixed;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 2em;

  margin: 0 auto;
  grid-row: 3;
  padding: 16px;
  line-height: 2em;

  font-size: 0.9rem;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
