@media screen and (prefers-color-scheme: dark) {
  main img {
    filter: invert() hue-rotate(180deg);
  }
}

main {
  display: contents;

  img {
    width: auto;
    border-radius: 0;
  }

  & > p:has(img) {
    width: 100%;
    height: min-content;
    grid-column: 1 / 4;
    text-align: center;
    overflow-x: scroll;
    padding: 20px;
    box-sizing: border-box;
  }

  a {
    word-wrap: anywhere;
  }

  .radio-group {
    display: flex;
    width: min-content;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    gap: 1px;

    border: 1px solid light-dark(#eee, #333);
    border-radius: 6px;
    padding: 2px;

    & > div {
      & > input {
        display: none;
      }

      & > label {
        cursor: pointer;
        display: block;
        padding: 10px 20px 8px;
        text-wrap: nowrap;
        border-radius: 4px;
      }

      &:has(input:checked) > label {
        color: light-dark(#000, #fff);
        background-color: light-dark(#eee, #333);
      }
    }
  }
}

.radio-group:has(div > input#radio-deals-seed:not(:checked)) ~ p > .only-deals-seed,
.radio-group:has(div > input#radio-deals-early:not(:checked)) ~ p > .only-deals-early,
.radio-group:has(div > input#radio-deals-late:not(:checked)) ~ p > .only-deals-late,
.radio-group:has(div > input#radio-deals-acq:not(:checked)) ~ p > .only-deals-acq {
  display: none;
}

.radio-group:has(div > input#radio-stakes-by-years:not(:checked)) ~ p > .only-stakes-by-years,
.radio-group:has(div > input#radio-stakes-by-stages:not(:checked)) ~ p > .only-stakes-by-stages {
  display: none;
}

.radio-group:has(div > input#radio-deal-grid-acquisitions:not(:checked)) ~ p > .only-deal-grid-acquisitions,
.radio-group:has(div > input#radio-deal-grid-all:not(:checked)) ~ p > .only-deal-grid-all,
.radio-group:has(div > input#radio-deal-grid-early:not(:checked)) ~ p > .only-deal-grid-early,
.radio-group:has(div > input#radio-deal-grid-late:not(:checked)) ~ p > .only-deal-grid-late,
.radio-group:has(div > input#radio-deal-grid-seed:not(:checked)) ~ p > .only-deal-grid-seed {
  display: none;
}

.radio-group:has(div > input#radio-dollars-all:not(:checked)) ~ p > .only-dollars-all,
.radio-group:has(div > input#radio-dollars-seed:not(:checked)) ~ p > .only-dollars-seed,
.radio-group:has(div > input#radio-dollars-early:not(:checked)) ~ p > .only-dollars-early,
.radio-group:has(div > input#radio-dollars-late:not(:checked)) ~ p > .only-dollars-late,
.radio-group:has(div > input#radio-dollars-acq:not(:checked)) ~ p > .only-dollars-acq {
  display: none;
}
.radio-group:has(div > input#radio-money-all:not(:checked)) ~ p > .only-money-all,
.radio-group:has(div > input#radio-money-seed:not(:checked)) ~ p > .only-money-seed,
.radio-group:has(div > input#radio-money-early:not(:checked)) ~ p > .only-money-early,
.radio-group:has(div > input#radio-money-late:not(:checked)) ~ p > .only-money-late,
.radio-group:has(div > input#radio-money-acq:not(:checked)) ~ p > .only-money-acq {
  display: none;
}

html {
  position: relative;
}

@media screen and (width<1000px) {
  #toc {
    display: none;
  }
}

@media screen and (1000px<width<1500px) {
  #toc {
    transition: 120ms opacity ease-out;
    overflow: hidden;

    &:not(:hover) {
      opacity: 0.1;
      width: calc(50% - min(100%, 700px) / 2 - 4 * calc(1em + 1vw));
    }

    & > ul > li {
      text-overflow: ellipsis;
      overflow: hidden;

      & > a {
        line-height: 2em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: light-dark(#fff, #000);
      }
    }
  }
}

#toc {
  grid-column: 3 / 4;
  grid-row: 4;

  position: fixed;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: calc(1em + 1vw);

  margin: 0 auto;
  grid-row: 3;
  padding: 16px;
  line-height: 2em;

  font-size: 0.9rem;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li > a {
      padding: 2px 0;
    }
  }
}
