.radio-group:has(div > input#radio-deals-seed:not(:checked)) ~ p > .only-deals-seed,
.radio-group:has(div > input#radio-deals-early:not(:checked)) ~ p > .only-deals-early,
.radio-group:has(div > input#radio-deals-late:not(:checked)) ~ p > .only-deals-late,
.radio-group:has(div > input#radio-deals-acq:not(:checked)) ~ p > .only-deals-acq {
  display: none;
}

.radio-group:has(div > input#radio-stakes-by-years:not(:checked)) ~ p > .only-stakes-by-years,
.radio-group:has(div > input#radio-stakes-by-stages:not(:checked)) ~ p > .only-stakes-by-stages {
  display: none;
}

.radio-group:has(div > input#radio-deal-grid-acquisitions:not(:checked)) ~ p > .only-deal-grid-acquisitions,
.radio-group:has(div > input#radio-deal-grid-all:not(:checked)) ~ p > .only-deal-grid-all,
.radio-group:has(div > input#radio-deal-grid-early:not(:checked)) ~ p > .only-deal-grid-early,
.radio-group:has(div > input#radio-deal-grid-late:not(:checked)) ~ p > .only-deal-grid-late,
.radio-group:has(div > input#radio-deal-grid-seed:not(:checked)) ~ p > .only-deal-grid-seed {
  display: none;
}

.radio-group:has(div > input#radio-dollars-all:not(:checked)) ~ p > .only-dollars-all,
.radio-group:has(div > input#radio-dollars-seed:not(:checked)) ~ p > .only-dollars-seed,
.radio-group:has(div > input#radio-dollars-early:not(:checked)) ~ p > .only-dollars-early,
.radio-group:has(div > input#radio-dollars-late:not(:checked)) ~ p > .only-dollars-late,
.radio-group:has(div > input#radio-dollars-acq:not(:checked)) ~ p > .only-dollars-acq {
  display: none;
}

.radio-group:has(div > input#radio-money-all:not(:checked)) ~ p > .only-money-all,
.radio-group:has(div > input#radio-money-seed:not(:checked)) ~ p > .only-money-seed,
.radio-group:has(div > input#radio-money-early:not(:checked)) ~ p > .only-money-early,
.radio-group:has(div > input#radio-money-late:not(:checked)) ~ p > .only-money-late,
.radio-group:has(div > input#radio-money-acq:not(:checked)) ~ p > .only-money-acq {
  display: none;
}
