{{define "page"}}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "title"}}

    <meta name="title" content="Ufuktan Yıldırım — Software Developer">
    <meta name="description" content="Software developer blending design and engineering. Discover latest work.">

    {{template "favicons"}}

    {{with .Stylesheets}}
    {{range .}}
    <link rel="stylesheet" href="{{.}}">{{end}}
    {{end}}
  </head>

  <body>
    {{template "nav" .}}
    <main>{{template "content" .}}</main>
  </body>

</html>
{{end}}